* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lora", serif;
}

body {
  min-height: 100vh;
  background: #ffdfd3;
  position: relative;
}

.quotes {
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#quoteDisplay {
  width: 60%;
  word-wrap: break-word;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px rgba(51, 51, 51, 0.1);
}

#quoteDisplay h1 {
  font-size: 3vh;
}

#quoteDisplay p {
  font-size: 2vh;
}

.images {
  height: 100vh;
  width: 100%;
  z-index: 1;
  border: none;
}

.images #imageleft {
  position: absolute;
  left: 10%;
  bottom: 20%;
  height: 50%;
  width: auto;
  max-height: 300px;
}

.images #imageright {
  position: absolute;
  right: 10%;
  bottom: 20%;
  height: 50%;
  width: auto;
  max-height: 300px;
}

@media only screen and (max-width: 650px) {
  .images #imageright {
    display: none;
  }
}
